.container-form-atividade {
    min-height: 100vh;
}

.titulo-form-atividade {
    color: var(--color-grey);
    font-size: 3rem;
    padding: 30px;
}

.content-form-atividade {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
}

.form-atividade {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 20px 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    max-width: 50%;
}

.form-atividade label {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-grey);
}

.form-atividade input,
.form-atividade textarea {
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
}

.form-atividade textarea {
    min-height: 100px;
    resize: none;
}

.data-hora {
    display: flex;
    gap: 10px;
}

.button{
    width: 150px;
    align-self: center;
}

.remove-btn{
    background: var(--color-secondary);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}