.card-tarefa{
    background: var(--color-grey-light);
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.info-tarefa{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .card-tarefa {
        width: 100%;
        padding: 30px 20px;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .card-tarefa {
        padding: 24px 16px;
    }
}