.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: #fff;
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
}

.modal-container p{
    font-size: 1.125rem;
    margin: 10px;
}

.modal-buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.confirmar-btn{
    width: 100px;
    font-size: 1.125rem;
}

.cancelar-btn, .cancelar-btn:hover{
    background: none;
    color: var(--color-secondary);
    border: none;
    font-size: 1.125rem;
}
