.cardAtiv-container{
    background-color: var(--color-white);
    padding: 34px 32px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 275px;
    height: 221px;
    max-width: 275px;
    min-width: 275px;
    max-height: 221px;
    min-height: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cardAtiv-container h3{
    font-weight: 600;
    font-size: 32px;
    margin-top: 30px;   
    text-align: center;
    margin-bottom: 0;
    line-height: 1.2;
    max-height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.icon-card-atividade{
    width: 200px;
}

@media (max-width: 768px) {
    .cardAtiv-container {
        padding: 28px 24px;
        width: 240px;
        height: 200px;
        max-width: 240px;
        min-width: 240px;
        max-height: 200px;
        min-height: 200px;
    }
    
    .cardAtiv-container h3 {
        font-size: 24px;
        margin-top: 20px;
        max-height: 60px;
    }
    
    .icon-card-atividade {
        width: 50px;
        height: 65px;
    }
}

@media (max-width: 480px) {
    .cardAtiv-container {
        padding: 24px 20px;
        width: 200px;
        height: 180px;
        max-width: 200px;
        min-width: 200px;
        max-height: 180px;
        min-height: 180px;
    }
    
    .cardAtiv-container h3 {
        font-size: 20px;
        max-height: 50px;
    }
}
