.section-eventos {
    background-color: var(--color-grey-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}

.link-adicionar{
    color: var(--color-white);
    background: var(--color-secondary);
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
}

.link-adicionar:hover{
    scale: 1.2;
    color: var(--color-secondary);
    background: none;
    border: 1px solid var(--color-secondary);
}