.blog-preview{
    padding: 20px 30px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    transition: .5s;
}

.blog-preview:hover{
    transform: translateY(-2.5px);
    cursor: pointer;
}

.blog-preview img {
    width: 200px;
}

.dados-autor{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.dados-autor p{
    font-weight: bold;
    font-size: 1.25rem;
}

.blog-data-span{
    font-size: .85rem;
    color: var(--color-grey);
}

.conteudo-blog{
    display: flex;
    flex-direction: column;
}

.informacao-conteudo{
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-width: 100%;
    word-break: break-word;  
}

.blog-titulo-span{
    margin: 10px 0px;
    font-size: 1.25rem;
    font-weight: bold;
}