.blog-preview{
    padding: 20px 30px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    transition: .5s;
}

.blog-preview:hover{
    transform: translateY(-2.5px);
    cursor: pointer;
}

.blog-preview img {
    width: 200px;
}

.dados-autor{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.dados-autor p{
    font-weight: bold;
    font-size: 1.25rem;
}

.blog-data-span{
    font-size: .85rem;
    color: var(--color-grey);
}

.conteudo-blog{
    display: flex;
    flex-direction: column;
}

.blog-titulo-span{
    margin: 10px 0px;
    font-size: 1.25rem;
    font-weight: bold;
}