.container-sistema-aprovacao {
    background: var(--color-grey-light);
    display: flex;
    justify-content: center;
}

.dashboard-sistema {
    background: var(--color-white);
    width: 60%;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin: 50px 0;
}

.cabecalho-sistema-aprovacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-sistema-aprovacao h1{
    color: var(--color-grey);
    font-size: 3rem;
}

.cabecalho-sistema-aprovacao select{
    padding: 10px;
    width: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline: none;
    margin: 25px 0;
}

.lista-aprovar {
    border: 1px solid var(--color-grey-medium);
    border-top: 40px solid var(--color-grey-medium);
    border-radius: 15px;
    overflow: hidden;
}

.lista-aprovar > *{
    border-bottom: 1px solid var(--color-grey-medium);
}

/* Ultimo item sem borda */
.lista-aprovar > *:last-child {
    border-bottom: none;
}

.sem-solicitacoes{
    text-align: center;
    padding: 10px;
    font-weight: 600;
}
