/* Container do modal - EXATAMENTE igual ao card */
.modal-atividade-container-positioned {
  background-color: var(--color-white);
  padding: 20px 32px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 1501;
  box-sizing: border-box;
  pointer-events: auto;
  overflow: hidden;
}

/* Título da atividade */
.modal-atividade-container-positioned h3 {
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

/* Data e horário */
.modal-atividade-container-positioned p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Botão */
.modal-atividade-container-positioned button {
  margin-top: 15px;
  cursor: pointer;
}
