.container-detalhes-voluntario {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-detalhes-voluntario {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.icon-fechar {
    position: absolute;
    font-size: 3rem;
    right: 50px;
    top: 10px;
    cursor: pointer;
}

.detalhes-voluntario {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}

.field-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-grey);
}

.field-detalhe {
    box-shadow: 1px 4px 4px 0px rgba(95, 95, 95, 0.25);
    border-radius: 30px;
    padding: 20px;
    outline: none;
    font-size: 1rem;
}

.opcoes-aprovar{
    display: flex;
    justify-content: center;
}