.card-aula{
    display: flex;
    justify-self: center;
    background: var(--color-white);
    border-radius: 10px;
    width: 45%;
}

.card-aula img{
    width: 250px;
}

.info-aula {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-aula h1{
    text-align: center;
    margin: 10px;
}

.info-aula-opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.125rem;
    height: 100%;
}

.info-aula-opcoes p {
    text-align: center;
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .card-aula {
        width: 100%;
    }
    
    .info-aula {
        flex-direction: column;
        padding: 16px;
    }
    
    .local-data, .lembrete-cancelar {
        font-size: 1rem;
        gap: 12px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .info-aula {
        padding: 12px;
    }
    
    .local-data, .lembrete-cancelar {
        font-size: 0.9rem;
    }
}